<div *ngIf="publication" class="posts-section"  >
  <div *ngFor="let p of publication._embedded.publications"  >
    <div    class="post_topbar"  >
      <div   class="usy-dt" >
        <img src="http://via.placeholder.com/50x50" alt="">
        <div   class="usy-name">
          <h3> {{benevol._embedded.benevols[p.id_benevol-1].nom}} </h3>
          <span><img src="assets/images/clock.png" alt="">{{benevol._embedded.benevols[p.id_benevol-1].deconnecte}}</span>
        </div>
      </div>

      <div class="ed-opts">
        <a href="#" title="" class="ed-opts-open"><i
          class="la la-ellipsis-v"></i></a>
        <ul class="ed-options">
          <li><a href="#" title="">Edit Post</a></li>
          <li><a href="#" title="">Unsaved</a></li>
          <li><a href="#" title="">Unbid</a></li>
          <li><a href="#" title="">Close</a></li>
          <li><a href="#" title="">Hide</a></li>
        </ul>
      </div>
    </div>

    <div  class="epi-sec">
      <ul class="descp">
        <li><img src="assets/images/icon8.png" alt=""><span>{{p.type}}</span></li>
        <li><img src="assets/images/icon9.png" alt=""><span>{{p.ville}}</span></li>
      </ul>
      <ul class="bk-links">
        <li><a href="#" title=""><i class="la la-bookmark"></i></a></li>
        <li><a href="#" title=""><i class="la la-envelope"></i></a></li>
      </ul>
    </div>
    <div  class="job_descp">
      <h3>{{p.titre}}</h3>
      <ul class="job-dt">
        <li><a href="#" title="">{{p.etat}}</a></li>

      </ul>
      <p>{{p.description}} <a routerLink="/profile" title="">view more</a></p>


      <img src="{{p.img}}" width="50%" >

      <ul class="skill-tags">
        <li><a href="#" title=""></a></li>
        <li><a href="#" title="">dons</a></li>

      </ul>
    </div >
    <li *ngIf="p.etat=='Disponible'" >
      <button  class="btn btn-primary" (click)="onSelectPub(p)">Select</button>

    </li>



    <div class="job-status-bar">
      <ul class="like-com">
        <li>
          <a href="#"><i class="la la-heart"></i> Like</a>
          <img src="assets/images/liked-img.png" alt="">
          <span>25</span>
        </li>
        <li><a href="#" title="" class="com"><img src="assets/images/com.png"
                                                  alt=""> Comment 15</a></li>
      </ul>
      <a><i class="la la-eye"></i>Views 50</a>
    </div>
  </div>
</div>

